mat-card {
    display: block;
    width: 10rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.change-card {
    display: flex;
    mat-form-field {
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
}